<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bs/dist/css/bootstrap.css">

    <%-defineContent('styleTambahan')%>

    <title><%= judul %></title>
</head>

<body>
    <%- body %>

    <!-- Optional JavaScript -->
    <script src="/jq/dist/jquery.js"></script>
    <script src="/bs/dist/js/bootstrap.bundle.js"></script>
    <%-defineContent('scriptTambahan') %>
</body>

</html>